{% extends 'base.html.twig' %}

{% block title %}{{ last_username }}{% endblock %}

{% block body %}

    <style>
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    {% block header %}
        <nav class="navbar navbar-light bg-light justify-content-between mx-2">
            <h1 class="navbar-brand">Hello {{ last_username }}!</h1>
            <a href="{{ path('app_logout') }}">Logout</a>
            <form class="form-inline">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </nav>
    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row text-center">
                <div class="my-3">
                    <h2>Your collections</h2>
                    <hr style="height: 3px; width: 60%; border-radius: 3px; margin: 0 auto">
                    <table class="table table-striped">
                        <tr>
                            <th scope="col" style="width: 22%">Image</th>
                            <th scope="col" style="width: 10.33%">Title</th>
                            <th scope="col" style="width: 42%">Description</th>
                            <th scope="col" style="width: 10%">Theme</th>
                            <th colspan="3" scope="col" style="width: 12.66%">Controls</th>
                        </tr>
                        {% for collection in all_collections %}
                            <tr>
                                <td>null</td>
                                <td>{{ collection.title }}</td>
                                <td>{{ collection.description }}</td>
                                <td>{{ collection.theme }}</td>
                                <td><a href="{{ path('view_collection', {'id' : collection.id}) }}">View</a></td>
                                <td>Edit</td>
                                <td><a href="{{ path('delete_collection',{ 'id': collection.id }) }}">Delete</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">You don't have any collections</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th class="text-right" colspan="7">
                                <a href="{{ path('add_collection') }}" style="text-decoration: none" class="link-primary">Create new </a>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
